{% extends "base.html.twig" %}

{% block title %}
  Accueil
{% endblock %}

{% block body %}

  <h1 class="text-center">Nos produits phares</h1>
  <div class="row">
  {% for product in products %}
    <div class="col">
      <div class="card">
        <img src={{product.picture}} class="img-fluid" alt="Image du produit">
        <div class="card-body">
          <h4 class="card-titlle">{{product.name}} {{product.price / 100 }}&euro;</h4>
          <span class="badge badge-info text-black bg-warning">
            {{product.category.name}}
          </span>
          <p class="card-text">{{product.shortDescription}}</p>
          <a href="#" class="btn btn-primary btn-sm">Détails</a>
          <a href="#" class="btn btn-success btn-sm">Ajouter</a>
        </div>
      </div>
    </div> 
  {% endfor %}
  </div>
  <hr>
  <h2>Un service irreprochable</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti molestiae fugiat, assumenda labore ratione repellendus.</p>

  <div class="row mb-3">
    
  {% include "shared/_assurance.html.twig" with {
    'color': 'primary',
    'icone': 'fas fa-truck',
    'text': 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, laboriosam quae totam amet necessitatibus odio!'
  } %}
  {% include "shared/_assurance.html.twig" with {
    'color': 'success',
    'icone': 'fas fa-check',
    'text': 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, laboriosam quae totam amet necessitatibus odio!'
  } %}
  {% include "shared/_assurance.html.twig" with {
    'color': 'warning',
    'icone': 'fas fa-lock',
    'text': 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, laboriosam quae totam amet necessitatibus odio!'
  } %}

  </div>

{% endblock %}